<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Short Truth Tables</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="shortTruthTables" ng-controller="MainCtrl">
    <aside>
      <h1>Short Truth Tables</h1>
      <a href="manual.html"><button class="btn">Manual</button></a>
      <button class="btn" ng-click="export()">Export Save</button>
      <div class="file-upload btn">
        <span>Import Save</span>
        <input
          class="btn upload"
          type="file"
          accept=".bram"
          ng-model="file.data"
          file-select="data"
          file-loaded="import()"
          file-error="importError($error)"
          file-progress="importProgress($total, $loaded)"
        />
      </div>
      <p ng-show="importStatus">{{importStatus}}</p>
      <p class="detail">BramHub 2019: Andrew Imrie, Maya Tung</p>
    </aside>
    <main ng-click="disconnect($event)">
      <div class="switch-container">
        <button class="switch" ng-click="inputMode = true;" ng-class="{'active': inputMode}">Input</button>
        <button class="switch" ng-click="inputMode = false; initValues();" ng-class="{'active': !inputMode}">Table</button>
      </div>
      <section ng-if="inputMode">
        <div class="switch-container">
          <button class="switch" ng-click="task = 'Validity';" ng-class="{'active': task == 'Validity'}">Validity</button>
          <button class="switch" ng-click="task = 'Consistency';" ng-class="{'active': task == 'Consistency'}">Consistency</button>
        </div>
        <div ng-repeat="input in inputs.slice(0, numPremises)" class="inputs">
          <input
            id="{{'input-' + input.id}}"
            class="input"
            type="text"
            placeholder="{{(task=='Validity') ? 'Premise' : 'Expression'}}"
            value=""
            ng-model="input.str"
            ng-keypress="enterInput($event, 'premise')"
            ng-change="validateInput(input, 'premise')"
            ng-class="{'invalid': input.err}"
            onfocus="verifyChange()"
          />
          <div class="btn input" ng-click="deleteInput(input, 'premise')">✖</div>
          <p class="err input" ng-if="input.err">{{input.err}}</p>
        </div>
        <button class="btn btn-full" ng-click="addInput('premise')">{{(task=='Validity') ? 'Add Premise' : 'Add Expression'}}</button>
        <p class="label" ng-if="input.conclusion">Goals:</p>
        <div ng-repeat="input in inputs.slice(numPremises)" ng-if = "task == 'Validity'" class="inputs">
          <input
            id="{{'input-' + input.id}}"
            class="input"
            type="text"
            placeholder="Conclusion"
            value=""
            ng-model="input.str"
            ng-keypress="enterInput($event, 'conclusion')"
            ng-change="validateInput(input, 'conclusion')"
            ng-class="{'invalid': input.err}"
            onfocus="verifyChange()"
          />
          <div class="btn input" ng-click="deleteInput(input, 'conclusion')">✖</div>
          <p class="err input" ng-if="input.err">{{input.err}}</p>
        </div>
        <button class="btn btn-full" ng-if="task == 'Validity'" ng-click="addInput('conclusion')">Add Conclusion</button>
      </section>
      <section class="table" ng-if="!inputMode">
        <div class="button-container">
          <button class="btn" ng-click="processContradiction()">Show Contradiction</button>
          <p class="label" ng-class="{'unknown': contradiction.val == null, 'invalid': contradiction.val === false, 'valid': contradiction.val}">{{(contradiction.val) ? "✔" : "✖"}}</p>
        </div>
        <div class="expressions" ng-repeat="expression in expressions">
          <div class="trow expression connectable" ng-if="expression.exp != null">
            <div class="tcell obj" ng-repeat="obj in expression.objs" ng-click="connect(obj)" ng-class="{'edit': obj.edit, 'link': linking, 'intangible': (obj.intangible && !linking)}">
              {{obj.str}}
            </div>
          </div>
          <div class="trow value connectable">
            <div class="tcell value"
                 ng-repeat="obj in expression.objs"
                 ng-click="connect(obj)"
                 ng-class="{'unknown': obj.exp.value != null && obj.val.valid == null, 'invalid': obj.val.valid === false, 'valid': obj.val.valid}">
              {{getValString(obj.exp.value)}}<sub>{{obj.val.num}}</sub>
            </div>
          </div>
          <div class="trow edit connectable" ng-if="editing">
            <div class="tcell" ng-repeat="obj in expression.objs">
              <div class="switch-container" ng-show="obj.edit">
                <div class="switch" ng-click="setObjVal(obj, 'T')" ng-class="{'active': obj.exp.value == true}">T</div>
                <div class="switch switch-middle" ng-click="setObjVal(obj, null)" ng-class="{'active': obj.exp.value == null}"></div>
                <div class="switch" ng-click="setObjVal(obj, 'F')" ng-class="{'active': obj.exp.value == false}">F</div>
              </div>
              <select class="rule" ng-model="obj.val.rule" ng-change="verifyRule(obj)" ng-class="{'linking': linking, 'unkown': obj.val.valid == null, 'invalid': obj.val.valid === false, 'valid': obj.val.valid}" ng-show="obj.edit">
                <option value="">Select Rule</option>
                <option value="reit">Reiteration</option>
                <option value="neg">Negation</option>
                <option value="and">Conjunction</option>
                <option value="or">Disjunction</option>
                <option value="imp">Implication</option>
                <option value="bic">Biconditional</option>
                <option value="andOp">Conjunction Operator</option>
              </select>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
