<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Short Truth Tables</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="shortTruthTables" ng-controller="MainCtrl">
    <aside>
      <h1>Short Truth Tables</h1>
      <a href="index.html"><button class="btn">Home</button></a>
      <button class="btn" ng-click="export()">Export Save</button>
      <div class="file-upload btn">
        <span>Import Save</span>
        <input
          class="btn upload"
          type="file"
          accept=".bram"
          ng-model="file.data"
          file-select="data"
          file-loaded="import()"
          file-error="importError($error)"
          file-progress="importProgress($total, $loaded)"
        />
      </div>
      <p ng-show="importStatus">{{importStatus}}</p>
      <p class="detail">BramHub 2019: Andrew Imrie, Maya Tung</p>
    </aside>
    <main>
    <h2>Input Symbols</h2>
    <table>
      <tr>
        <th>Input</th>
        <th>Output</th>
      </tr>
      <tr>
        <th>|</th>
        <th>&#x2228;</th>
      </tr>
      <tr>
        <td>&amp;</td>
        <td>&#x2227;</td>
      </tr>
      <tr>
        <td>~</td>
        <td>&#x00ac;</td>
      </tr>
      <tr>
        <td>$</td>
        <td>&#x2192;</td>
      </tr>
      <tr>
        <td>%</td>
        <td>&#x2194;</td>
      </tr>
      <tr>
        <td>^</td>
        <td>&#x22a5;</td>
      </tr>
    </table>
    <h2>Instructions</h2>
    <ul role="list">
      <li role="listitem"></li>
      <li role="listitem">You must input at least one conclusions.</li>
      <li role="listitem">Premises will automatically be made true and the conclusion false.</li>
      <li role="listitem">Click on literals and operators, give them a T/F value, and select the corresponding rule.</li>
      <li role="listitem">If assigning a value to an operator, choose the rule that has the operator type followed by "Operator".</li>
      <li role="listitem">T/F value will turn GREEN with a valid rule choice or RED with an invalid rule choice.</li>
      <li role="listitem">Values will be PURPLE until a rule is chosen.</li>
      <li role="listitem"></li>
      <li role="listitem"></li>
    </ul>
    <h2>Formatting Rules</h2>
      <ul role="list">
        <li role="listitem">Cannot double space</li>
        <li role="listitem">Literals must be characters from English alphabet</li>
        <li role="listitem">Literals must be one character</li>
        <li role="listitem">Literals must be seperated by an operator</li>
        <li role="listitem">There must be the same amount of open and closed parentheses</li>
        <li role="listitem">There can only be one top level operator</li>
      </ul>
      <h2>Known Issues and Plans For the Future</h2>
      <ul role="list">
        <li role="listitem">Cannot double space</li>
        <li role="listitem">Literals must be characters from English alphabet</li>
        <li role="listitem">Literals must be one character</li>
        <li role="listitem">Literals must be seperated by an operator</li>
        <li role="listitem">There must be the same amount of open and closed parentheses</li>
        <li role="listitem">There can only be one top level operator</li>
      </ul>
    </main>
  </body>
</html>
