<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Short Truth Tables</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="shortTruthTables" ng-controller="MainCtrl">
    <aside>
      <h1>Short Truth Tables</h1>
      <a href="index.html"><button class="btn">Home</button></a>
      <button class="btn" ng-click="export()">Export Save</button>
      <div class="file-upload btn">
        <span>Import Save</span>
        <input
          class="btn upload"
          type="file"
          accept=".bram"
          ng-model="file.data"
          file-select="data"
          file-loaded="import()"
          file-error="importError($error)"
          file-progress="importProgress($total, $loaded)"
        />
      </div>
      <p ng-show="importStatus">{{importStatus}}</p>
      <p class="detail">BramHub 2019: Andrew Imrie, Maya Tung</p>
    </aside>
    <main>
      <h2>Input Symbols</h2>
      <table>
        <tr>
          <th>Input</th>
          <th>Output</th>
        </tr>
        <tr>
          <th>|</th>
          <th>&#x2228;</th>
        </tr>
        <tr>
          <td>&amp;</td>
          <td>&#x2227;</td>
        </tr>
        <tr>
          <td>~</td>
          <td>&#x00ac;</td>
        </tr>
        <tr>
          <td>$</td>
          <td>&#x2192;</td>
        </tr>
        <tr>
          <td>%</td>
          <td>&#x2194;</td>
        </tr>
        <tr>
          <td>^</td>
          <td>&#x22a5;</td>
        </tr>
      </table>
      <h2>Instructions</h2>
      <ul>
        <li>Input premises and conclusions on the <strong>Input</strong> tab</li>
        <li>Go to the <strong>Table</strong> tab to solve the truth table</li>
        <li>Premises will automatically be set to true and the conclusions set to false</li>
        <li>Click on literals and operators to assign them a boolean value</li>
        <li>Your object is now <span class="unknown">PURPLE</span> meaning it does not have a rule assigned to it</li>
        <li>Click on a rule to verify your step</li>
        <li>If assigning a value to an operator, choose the rule that has the operator type followed by "Operator"</li>
        <li>Your object may now be <span class="linking">BLUE</span> meaning you need to select an additional reason for your rule</li>
        <li>If you are linking, select a new object to complete the rule verification</li>
        <li>Your initial object will now be <span class="valid">GREEN</span> if your rule and value are correct - but <span class="invalid">RED</span> if they are incorrect</li>
        <li>To finish, click <strong>Show Contradiction</strong> and link 2 objects that contradict each other</li>
      </ul>
      <h2>Formatting Rules</h2>
      <ul>
        <li>Literals must be characters from English alphabet</li>
        <li>Literals must be one character</li>
        <li>Literals must be seperated by an operator</li>
        <li>There must be the same amount of open and closed parentheses</li>
        <li>You must input at least one conclusion</li>
        <li>If you create an expression with multiple top-level operators, we will parse them as separated boolena operators</li>
      </ul>
      <h2>Plans For the Future</h2>
      <ul>
        <li>Consistency and other goals have not been implemented</li>
        <li>Export to .bram</li>
        <li>Intercept keyboard event to directly type logical unicode</li>
        <li>Create batch file checker for grading</li>
        <li>When linking, highlight recommended / valid targets</li>
      </ul>
    </main>
  </body>
</html>
