body {
  font-family: "Tahoma", sans-serif;
  margin: 0;
  display: flex;
  font-size: 2vh;
}

main {
  margin: 0;
  flex-grow: 100;
  padding: 5vh 5vh 0 5vh;
  border-left: 1px solid rgba(0,0,0,.3);
}

aside {
  padding: 5vh 5vh 0 5vh;
  min-width: 20vw;
  height: 100vh;
  position: relative;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 4vh;
  padding: 1vh;
  vertical-align: middle;
  margin: 0 0 3vh 0;
}

button {
  font-size: 2vh;
}

a {
  text-decoration: none !important;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3vh 0;
}

input {
  padding: 2vh;
  background-color: #EEE;
  border-width: 0px;
  font-size: 1em;
  font-family: "Tahoma", sans-serif;
  flex: 1 0 90%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input.invalid {
  background-color: #F29D9D;
}

.inputs .err {
  color: #CC2828;
}

.btn .input {
  flex: 1 0 10%;
}

.btn {
  text-align: center;
  display: block;
  padding: 2vh;
  border-width: 0px;
  background-color: #000;
  color: #FFF;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:hover, .btn:active {
  background-color: #555;
}

aside .btn {
  margin-bottom: 3vh;
  width: 100%;
}

.switch-container {
  display: flex;
  margin: 0 0 3vh 0;
}

.switch {
  flex-grow: 100;
  text-align: center;
  padding: 2vh;
  border: 1px solid black;
  background-color: #FFF;
  color: #000;
  text-decoration: none !important;
}

.switch.active {
  background-color: #000 !important;
  color: #FFF !important;
}

.switch.switch-middle {
  border-left: 0px;
  border-right: 0px;
}

.edit .switch-container {
  margin: 0 0 1vh 0;
}

.detail {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
}

.table {
  display: table;
}

.trow {
  display: table-row;
}

.tcell {
  display: table-cell;
  padding: 1vh;
  text-align: center;
}

.obj:hover {
  background-color: #DDD;
}

.rule {
  border: 1px solid black;
}

.rule.invalid {
  border-color: red;
}

select {
  padding: 1vh;
  font-size: 1em;
  font-family: "Tahoma", sans-serif;
}
