body {
font-family:Tahoma, sans-serif;
display:flex;
font-size:2vh;
margin:0;
}

main {
flex-grow:100;
border-left:1px solid rgba(0,0,0,.3);
margin:0;
padding:5vh 5vh 0;
}

aside {
min-width:20vw;
height:100vh;
position:relative;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:5vh 5vh 0;
}

h1 {
font-size:4vh;
vertical-align:middle;
margin:0 0 3vh;
padding:1vh;
}

button {
font-size:2vh;
}

a {
text-decoration:none!important;
color:#008CBA;
}

select {
font-size:1em;
font-family:Tahoma, sans-serif;
padding:1vh;
}

.inputs {
display:flex;
flex-wrap:wrap;
margin:0 0 3vh;
}

.inputs .type-picker {
flex:1 0 0;
margin:0;
}

input {
background-color:#EEE;
font-size:1em;
font-family:Tahoma, sans-serif;
flex:1 0 80%;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
border-width:0;
padding:2vh;
}

.inputs .label {
margin-top:0;
flex:1 0 100%;
}

.inputs .err {
color:#CC2828;
}

.btn .input {
flex:1 0 0;
}

.btn {
text-align:center;
display:block;
background-color:#000;
color:#FFF;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
border-width:0;
padding:2vh;
}

.btn:hover,.btn:active {
background-color:#555;
}

.btn-full {
width:100%;
margin-bottom:3vh;
}

aside .btn {
margin-bottom:3vh;
width:100%;
}

.file-upload {
position:relative;
overflow:hidden;
}

.file-upload input.upload {
position:absolute;
top:0;
right:0;
cursor:pointer;
opacity:0;
filter:alpha(opacity=0);
height:100%;
width:100%;
margin:0;
padding:0;
}

.switch-container {
display:flex;
margin:0 0 3vh;
}

.switch {
flex-grow:100;
text-align:center;
border:1px solid #000;
background-color:#FFF;
color:#000;
text-decoration:none!important;
padding:2vh;
}

.switch.active {
background-color:#000!important;
color:#FFF!important;
}

.switch.switch-middle {
border-left:0;
border-right:0;
}

.edit .switch-container {
margin:0;
}

.detail {
color:#333;
text-transform:uppercase;
font-weight:700;
font-size:.7em;
position:absolute;
bottom:0;
}

.table {
width:100%;
display:table;
}

.trow {
display:table-row;
}

.tcell {
display:table-cell;
text-align:center;
}

.tcell .switch {
border-bottom:none;
padding:1vh!important;
}

.expression .tcell,.value .tcell {
padding:1vh;
}

.unknown {
background-color:#C888EE;
}

.valid {
background-color:#9D9;
}

.invalid {
background-color:#E66;
}

.linking,.link:hover {
background-color:#9CE!important;
}

.intangible:hover {
background-color:#FFF!important;
}

.rule {
border:1px solid #000;
}

.switch:hover,.obj:hover,.obj.edit,.value.edit {
background-color:#DDD;
}

.button-container {
display:flex;
margin-bottom:3vh;
}

.button-container .btn {
flex:1 0 80%;
}

.button-container .label {
margin:0;
padding:2vh;
}

table,li {
font-family:arial, sans-serif;
border-collapse:collapse;
width:50%;
}

td,th {
border:1px solid #ddd;
text-align:left;
padding:8px;
}

tr:nth-child(even) {
background-color:#ddd;
}
